
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid parkDetailHeader">
    <h2 style="color: white">Page Not Found</h2>
    <p style="color: white">Feel free to navigate to any of our parks with the nav bar</p>

</div>
<div style="text-align: center">
    <img src="~/Content/img/Arlo_good_dinosaur.png" alt="Alternate Text" />
</div>
