
.parkTile{
    display:inline-flex;
     width:500px;
     margin-left:3.3%;
    margin-right:3.3%;
}

.parkText{
    text-align:center;
}

.pageHeader{
    text-align:center;
}

nav{
    margin-bottom:0px !important;
}

.parkDetailHeader{
    margin-top:50px;
    background-color:dimgrey;
}

.detailText{
    color:white;
}

.even{
    background-color: rgb(249, 249, 249);
    padding-left:0px !important;
}

.odd{
    background-color: rgb(233, 233, 233);
}
.weather{
    text-align: center; 
    
}
.days{
    display: inline-flex;
    flex-direction: row; 


}
.day{
    padding: 0px 25px; 
    width:19%;
}

.forecastImage{
    width:50px;
    height:50px;
}

.detailImage{
    vertical-align:top;
}